//-  input(type="radio" name="Ans" id="One")
    abel(id="AnsOne" for="One") Вопрос1

mixin question(name='Ans', id)
    li
        input(type='radio' name=name id=id)
        label(id=name+id for=id) Вопрос